body{
  font-size: 1.5rem;
  overflow: hidden;
  font-family: 'Tenor Sans', sans-serif;

  background-color: #dddddd;
}

#header{
  position: fixed;
  z-index: 200;
  top: 0px;
  left: 0px;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);
  text-align: center;
  width: 100vh;
  background-color: #dddddd;
  backdrop-filter: blur(5px);

  border-bottom: 2px solid black;
  margin-top: 0px;
  padding: 10px;
}

#cover{
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 500;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  font-size: 8rem;
  margin: auto;
  background-color: #dddddd;
  text-align: center;
}

#about{
  width: 80vw;
  text-align: left;
  margin-left: 10vw;
  margin-top: 20vh;
}

#about a{
  color: #888;
}

.content{
  display: none;
  height: calc(100vh - 202px);
  /* border-left: 2px solid black;
  border-right: 2px solid black; */
  border-bottom: 2px solid black;
  text-align: center;
}

.content iframe{
  position: absolute;
  top:10px;
  left:1%;
  width:98%;
  height:calc(100vh - 222px);
}

.swiper-slide{
  width: 900px !important;
  /* height: calc(100vh - 222px) !important; */
  /* left: 10% !important; */
  /* top: 5% !important; */
  margin-left: calc(50vw - 476px);
  margin-right: calc(50vw - 476px);
}

.youtube-container{
  position: relative;
  width: 100%;
  /* left: 10%; */
  height: 0;
  padding-bottom: 56.25%;
}

.youtube-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul{
  position: absolute;
  width: calc(100vw - 48px);
  /* width: 100vw; */
  right: 0px;
  top: 0px;
  padding: 0px;
  margin: 0px;
}

li{
  list-style: none;
  margin: 0px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #bbbbbb;
  border-bottom: 2px solid black;
}

li:hover{
  cursor: pointer;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1080px){
  .swiper-slide{
    width: 80% !important;
    /* height: calc(100vh - 222px) !important; */
    /* left: 10% !important; */
    /* top: 5% !important; */
    margin-left: 10%;
    margin-right: 10%;
  }
}
